<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguystech.com/preadmin/hotel/template2/blank-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Nov 2021 09:56:50 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Record Management</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/../../../../use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!--[if lt IE 9]>
                <script src="assets/js/html5shiv.min.js"></script>
                <script src="assets/js/respond.min.js"></script>
            <![endif]-->
</head>
<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="~/Images/caleb.png" width="50" height="70" alt="logo">
                    <span class="logoclass" style="color: #009688">RMS</span>
                </a>
                <a href="index.html" class="logo logo-small">
                    @*<p class="logoclass" style="color: #009688;" >RMS</p>*@

                    <img src="~/Images/round caleb.png"  alt="Logo" width="30" height="30">
                </a>
            </div>

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">

                <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">Carlson Tech</span> has
                                                    approved <span class="noti-title">your estimate</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-11.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        International Software
                                                        Inc
                                                    </span> has sent you a invoice in the amount of <span class="noti-title">$218</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">John Hendry</span> sent
                                                    a cancellation request <span class="noti-title">
                                                        Apple iPhone
                                                        XR
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        Mercury Software
                                                        Inc
                                                    </span> added a new product <span class="noti-title">
                                                        Apple
                                                        MacBook Pro
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="~/assets/img/profiles/avatar-01.jpg" width="31" alt="Dexter Smith"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Dexter Smith</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="settings.html">Account Settings</a>
                        <a class="dropdown-item" asp-action="Login" asp-controller="Account">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li>
                            <a asp-action="GlobalAdminDashBoard" asp-controller="DashBoard"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                        </li>
                        <li class="list-divider"></li>
                        @*<li class="submenu">
                                <a href="#"><i class="fas fa-suitcase"></i> <span> Booking </span> <span class="menu-arrow"></span></a>
                                <ul class="submenu_class" style="display: none;">
                                    <li><a href="all-booking.html"> All Booking </a></li>

                                </ul>
                            </li>*@
                        <li class="submenu">
                            <a><i class="fas fa-user"></i> <span> Porters </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="Index" asp-controller="Porter"> All Porters </a></li>

                            </ul>
                        </li>
                        @*<li class="submenu">
                                <a href="#"><i class="fas fa-key"></i> <span> Rooms </span> <span class="menu-arrow"></span></a>
                                <ul class="submenu_class" style="display: none;">
                                    <li><a href="all-rooms.html">All Rooms </a></li>
                                    <li><a href="edit-room.html"> Edit Rooms </a></li>
                                        <li><a href="add-room.html"> Add Rooms </a></li>
                                </ul>
                            </li>*@
                        <li class="submenu">
                            <a><i class="fas fa-user"></i> <span> Students </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="Index" asp-controller="Student">All Students </a></li>
                            </ul>
                        </li>
                        @*<li class="submenu">
                            <a><i class="fas fa-check"></i> <span> Approved Exeats </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="ApprovedExeat" asp-controller="Porter">Approved Exeat </a></li>
                            </ul>
                        </li>*@
                        <li class="submenu">
                            <a><i class="fas fa-book"></i> <span> Records </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="Records" asp-controller="Record">Porter Records </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a><i class="fas fa-edit"></i> <span> Porter Exeat </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="ApprovedExeat" asp-controller="Porter">Approved Exeat </a></li>
                                <li><a asp-action="ExeatStatus" asp-controller="Exeat">Exeat Status </a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a><i class="fas fa-edit"></i> <span> Student Exeat </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="IssueExeat" asp-controller="Exeat">Issue Exeat </a></li>
                                <li><a asp-action="StudentApprovedExeat" asp-controller="Student">Approved Exeat </a></li>
                                <li><a asp-action="StudentDisapprovedExeat" asp-controller="Student">DisApproved Exeat </a></li>                                

                            </ul>
                        </li>
                        <li class="submenu">
                            <a><i class="fas fa-envelope-square"></i> <span> Admin Exeat </span> <span class="menu-arrow"></span></a>
                            <ul class="submenu_class" style="display: none;">
                                <li><a asp-action="IssuedExeat" asp-controller="GlobalAdmin">Issued Exeat </a></li>

                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


        @RenderBody()
    </div>




    <script data-cfasync="false" src="~/../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/morris/morris.min.js"></script>
    <script src="~/assets/js/chart.morris.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>


    <script src="~/assets/js/script.js"></script>

    @*<script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>*@

    <script>
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'LT'

            });
        });
    </script>

    <environment include="Development">
        <script src="~/lib/Jquery1/jquery-3.2.1.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/Jquery1/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from dreamguystech.com/preadmin/hotel/template2/blank-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Nov 2021 09:56:52 GMT -->
</html>