@model RMS.ViewModel.Accounts.ChangePasswordVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguystech.com/preadmin/hotel/template2/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Nov 2021 09:55:59 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>RMS Change Password</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/css/feathericon.min.css">
    <link rel="stylesheet" href="~/assets/plugins/morris/morris.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
    <!--[if lt IE 9]>
                <script src="assets/js/html5shiv.min.js"></script>
                <script src="assets/js/respond.min.js"></script>
            <![endif]-->
</head>
<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="~/assets/img/logo.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Login</h1>
                            <p class="account-subtitle">Access to our dashboard</p>

                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-group">
                                    <input class="form-control" type="password" asp-for="Password" placeholder="Old Password">
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" asp-for="NewPassword" placeholder="New Password">
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" asp-for="ConfirmNewPassword" placeholder="Confirm New Password">
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">Change Password</button>
                                </div>
                            </form>

                            


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/assets/js/script.js"></script>
</body>

<!-- Mirrored from dreamguystech.com/preadmin/hotel/template2/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Nov 2021 09:56:00 GMT -->
</html>