@model RMS.ViewModels.Records.RecordsVM

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header mt-5">
            <div class="col">
                <div class="row">

                    <div class="col-md-12">
                        @if (ViewBag.Success == "yes")
                        {
                            <div class="alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
                                <strong>Success!</strong> Task Performed Successfully.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        @if (ViewBag.Failed == "yes")
                        {
                            <div class="alert alert-danger alert-dismissible fade show" id="success-alert" role="alert">
                                <strong>Oops!</strong> An Error Occured Please Try Again. Thank You.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Exeat Form</h4>
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    <div class="row">

                                        <div class="col-xl-6">
                                            <h4 class="card-title">Exeat Details</h4>
                                            @*<div class="row">
                                <label class="col-lg-3 col-form-label">Name</label>
                                <div class="col-lg-9">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="First Name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" placeholder="Last Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Exit Date</label>
                                                <div class="col-lg-9">
                                                    <input type="date" asp-for="@Model.ExpectedExitDate" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Return Date</label>
                                                <div class="col-lg-9">
                                                    <input type="date" asp-for="@Model.ExpectedReturnFromExeateDate" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Address</label>
                                                <div class="col-lg-9">
                                                    <input type="text" asp-for="@Model.ExeatLocation" class="form-control">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label">Reason for Exeat</label>
                                                <div class="col-lg-9">
                                                    <textarea rows="4" cols="5" asp-for="@Model.ExeatReason" class="form-control" placeholder="Enter message"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#success-alert").fadeTo(2000, 1500).slideUp(1500, function () {
        $("#success-alert").slideUp(1500);
    });
</script>